
/* css */
body{
  font-family: 'Biryani', sans-serif;
}
.container{
  background-color: #000000;
}

.whtgrey{
  color: #dfe0d5;
}
.ltblue{
  color: #5dbbb8;
}
.black{
  color: #000000;
}
h1{
  font-weight: 700;
  font-size: 8.561rem;
  line-height: 8.561rem;
  margin-top: 80px;
  margin-bottom: 40px;
}
h3{
  font-weight: 600;
  font-size: 1.4375rem;
  line-height: 1.4375rem;
  padding-top: 40px;
}
