
/* css */
body{
  font-family: 'Biryani', sans-serif;
}
.container{
  background-color: #010005;
}

.whtgrey{
  color: #dfe0d5;
}
.ltblue{
  color: #5dbbb8;
}
.black{
  color: #000000;
}
.boxblue{
  fill: rgb(93, 187, 184);
}
.boxwhtgry{
  fill: rgb(223, 224, 213);
}
.boxblk{
  fill: rgb(1, 0, 5);
  transform: translate(50%) rotate(45deg);
}

h1{
  font-weight: 700;
  font-size: 8.561rem;
  line-height: 8.561rem;
  margin-top: 80px;
  margin-bottom: 40px;
}
h3{
  font-weight: 600;
  font-size: 1.4375rem;
  line-height: 1.4375rem;
  padding-top: 40px;
}
